In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
import re

In [2]:
dataset = pd.read_csv(r'./IMDB.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 1].values
#X[1][0].replace(r'\\','')
#str(X[1][0]).replace('\\','e')

In [3]:
X = pd.DataFrame(X,columns =['reviews'])
y = pd.DataFrame(y,columns = ['Score'])
pd.options.display.max_colwidth=4000

X.iloc[0][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [4]:
y['Score'].value_counts()

positive    25000
negative    25000
Name: Score, dtype: int64

In [5]:
for review_no in range(len(X['reviews'])):
    j =  re.sub(r'(.br./>)','',X.iloc[review_no][0])
    j = re.sub("[^a-zA-Z',\.() ]+", '', j)
    X.iloc[review_no] = j

In [6]:
X.iloc[8][0]
y

          Score
0      positive
1      positive
2      positive
3      negative
4      positive
...         ...
49995  positive
49996  negative
49997  negative
49998  negative
49999  negative

[50000 rows x 1 columns]

In [7]:
y = dataset.iloc[:, 1].values
y = pd.DataFrame(y,columns = ['Score'])

y

          Score
0      positive
1      positive
2      positive
3      negative
4      positive
...         ...
49995  positive
49996  negative
49997  negative
49998  negative
49999  negative

[50000 rows x 1 columns]

In [8]:
# Give reviews with Score>3 a positive rating, and reviews with a score<3 a negative rating.
# Give reviews with Score>3 a positive rating, and reviews with a score<3 a negative rating.
def partition(x):
    if x == 'positive':
        return 1
    return 0

#changing reviews with score less than 3 to be positive and vice-versa
actualScore = y['Score']
positiveNegative = actualScore.map(partition) 
positiveNegative

0        1
1        1
2        1
3        0
4        1
        ..
49995    1
49996    0
49997    0
49998    0
49999    0
Name: Score, Length: 50000, dtype: int64

In [9]:
y['Score'] = positiveNegative
print("Number of data points in our data", y.shape)
y

Number of data points in our data (50000, 1)

       Score
0          1
1          1
2          1
3          0
4          1
...      ...
49995      1
49996      0
49997      0
49998      0
49999      0

[50000 rows x 1 columns]

In [10]:
X1 = X.iloc[:,0].values
y1 = y.iloc[:,0].values

In [12]:
type(X_train)
#dir(X)

NameError: name 'X_train' is not defined

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size = 0.2, random_state = 0)
y_train

array([0, 0, 1, ..., 1, 0, 1], dtype=int64)

In [14]:
from sklearn.model_selection import train_test_split
X_train1, X_test1, y_train1, y_test1 = train_test_split(X, y, test_size = 0.2, random_state = 0)

t1 = X_train1
t1 = t1.assign(Score = y_train1['Score'])
#t1 =t1.reset_index(drop = True)
t2 = X_test1
t2 = t2.assign(Score = y_test1['Score'])

In [15]:
t1.to_csv('reviews_train',index=False)
t2.to_csv('reviews_test',index=False)

In [16]:
'''X_train_list = list(X_train['reviews'])
len(X_train_list)
X_test_list = list(X_test['reviews'])'''
#type(X_train)

"X_train_list = list(X_train['reviews'])\nlen(X_train_list)\nX_test_list = list(X_test['reviews'])"

In [ ]:
counter = CountVectorizer()
counter.fit(X_train)

In [ ]:
#count the number of times each term appears in a document and transform each doc into a count vector
counts_train = counter.transform(X_train)#transform the training data
counts_test = counter.transform(X_test)#transform the testing data

In [ ]:
counts_test
y_train

In [ ]:
#train classifier
model1 = DecisionTreeClassifier()
model2 = MultinomialNB()
model3=LogisticRegression(solver='liblinear')

In [ ]:
predictors=[('nb',model1),('dt',model2),('lreg',model3)]

In [ ]:
VT=VotingClassifier(predictors)

In [ ]:
VT.fit(counts_train,y_train)

#use hard voting to predict (majority voting)
VT.fit(counts_train,y_train)

In [ ]:
pred=VT.predict(counts_test)

#print accuracy
print (accuracy_score(pred,y_test))

In [ ]:
#X_test

In [ ]:
output = pd.DataFrame({'Reviews': X_test ,
                       'Score': pred})
output.to_csv('output.csv', index=False)